@model WebshopFietsen.Models.ProductRepository

<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="m-3">
    <div class="bladspiegel">
        <form asp-action="Index" asp-controller="Home">
            <h2>ONLINE FIETSENSHOP - Catalogus</h2>
                <table class="table table-borderless">
                    <tr class="veldnamenRij centreren">
                        <td>ArtNr</td>
                        <td>Naam</td>
                        <td>Foto</td>
                        <td>Verkoopprijs</td>
                        <td>Voorraad</td>
                        <td></td>
                    </tr>
                    @foreach (var p in Model.Producten)
                    {
                        <tr class="celrandOnder centreren rounded">
                            <td>@p.ArtNr</td>
                            <td>@p.Naam</td>
                            <td><img class="afbeeldingCatalogus rounded-lg shadow" src="@Url.Content("~/images/" + p.Foto)" /></td>
                            <td>€ @Math.Round(p.Verkoopprijs, 2)</td>
                            <td>@p.Voorraad</td>
                            <td>
                                @if (p.Voorraad > 0)
                                {
                                    <a asp-action="Toevoegen" asp-controller="Home" asp-route-artnr="@p.ArtNr">
                                        Voeg toe aan winkelmandje...
                                    </a>
                                }
                                else
                                {
                                    <span>Niet op voorraad</span>
                                }
                            </td>
                        </tr>
                    }
                </table>
            <p class="centreren afstandTop"><input  type="submit" value="Bekijk de inhoud van het winkelmandje" /></p>
            <p class="centreren afstandTop"><a asp-action="Logout" asp-controller="Auth">Afmelden</a></p>
        </form>
    </div>
</body>
</html>
